<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D YOUR HUNGER</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait" >
    <p class="p1">3D YOUR HUNGER</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role: Ideation developer, AfterEffect, video editor.</p>
    <iframe width="640" height="360" src="https://player.vimeo.com/video/301620666" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
    <p class="p3">Brand: </p>
    <p class="p4">Snickers and QQ Lab</p>
    <p class="p3">Brief:</p>
    <p class="p4">A brand crossing of Snickers and QQlab, which needs to be fun and cool.</p>
    <p class="p3">Insight:</p>
    <p class="p4">Over the past 100 years, Snickers have shown to people that you are not you when you are hungry. However no one has ever shown how your hungry looks like. What if to feed your hunger with your hunger.</p>
    <p class="p3">Product:Snickers 3D printer. </p>
    <p class="p4">Open QQ on your mobile device and use the Gugu scan to scan your belly. based on the scan, Gugu can help us create an image of your hunger. Snickers 3D print machine has already been put in very corner of your life. When you find it, use your belly to touch the machine, then you have opened it.</p>
    <img class="i1" src="../../assets/projects/3D.png" style="border:1px solid #CCCCCC"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;"> 3D Printer by Snickers and QQlab</p>
    <p class="p4">The printed Snickers images will be posted on QQ. Besides QQ, the brand crossing betweenQQ Lab and Snickers will also be shared to other platforms. The young people would create all kinds of funny ways to print their own 3D Snickers.<br/>In this way, Snickers and QQ Lab will truly “psyched” to play with young crowd, and together lead a trend of playing cool and happy technology.</p>
    <p class="p3">Key Points:  </p>
    <p class="p4">Snickers target to millennials, and 60% of which, 540 million people, are QQ active users. And these teenagers are desperate to express themselves.<br/>In this Cross-border marketing plan, Snickers will refresh their communication, and QQ Lab would prove that they can make the impossible happen.</p>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>