<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>about</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	</head>
	<body>
		<main class="about">
			<h1 class="main-name"></h1>
			<div class="container">
				<ul class="navigator">
					<li><a href="projects.html">Projects</a></li>
					<li><a href="about.html">About</a></li>
					<li><a>CV</a></li>
				</ul>
				<div class="portrait">
					<img src="../assets/photo.jpg"/>
				</div>
				<div class="des">
					<p class="p1">It is never easy to describe oneself in a nutshell. (Usually, I write I don’t have any personal introduction cause which is too hard, however it does not work here. So, I will try my best to illustrate a real me in next few lines.)</p>
					<p>Identity: #senior student in Xiamen University. #major in advertising #grow up in Beijing</p>
					<p>Character:#playfirst #happy mostly #cute all the time!</p>
					<p>I use lables to describe myself, however, when you read it, please don't define me. Cause no one can be defined by lables.<br />I’ve never been perfect, but I’ve always been brave to be me.</p>
					<p>Wanna know more about me?<br />Talk with me and play with me. :)<br />castazhu97@gmail.com</p>
				</div>
			</div>
			
		</main>
	</body>
	<script type="text/javascript" src="../dist/js/vc.min.js"></script>
</html>