<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dressing</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait" >
    <p class="p1">DRESSING</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role: Creative group head,presenter,copy writer.</p>
    <p class="p3">Background:</p>
    <p class="p4">In Dentsu Innovation Camp, my team got the brief of creating new and interesting service or product, a highly viable business solution.</p>
    <img class="i1" src="../../assets/projects/Dressing/Dressing1.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p3" >Experience:</p>
    <p class="p4" >Shopping has always been a pretty happy thing. We can often see self-portraits on social networks in the fitting room. </p>
    <p class="p4" >But now when we are shopping, we have to wait in a  long queue outside the fitting room. The shopping guide tends to recommend too many styles. Moreover, we can only try up to six pieces each time. And if you take the wrong size, you have to go out again, change the size, and then queue for another time. Problems above affect the happy mood a lot when we are shopping. How to maximize the fun of trying and buying clothes, and deleting all other interference factors?</p>
    <img class="i1" src="../../assets/projects/Dressing/Dressing2.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p3" >Insight:</p>
    <p class="p4" >So what does the dream shopping will be like? We hope to see the styles of all the clothes without walking in the mall and try on nice clothes immediately. </p>
    <p class="p4" >Thus, my team has conceived a mall consisting of countless fitting rooms and a smart warehouse. Various fashion brands, designer brands, etc. can place goods in the warehouse. Consumers only need to walk into a separate fitting room, select clothes in front of the electronic mirror screen and open the wardrobe in the fitting room. The clothes consumers chose will be sent to the closet through the conveyor belt. Consumers can video directly with friends through an electronic mirror and ask their friends for advice.</p>
    <p class="p4" >Appropriate clothes can be purchased directly in the fitting room, and clothes unfit will be returned to the closet and recycled to the warehouse. </p>
    <img class="i1" class="i1" src="../../assets/projects/Dressing/Dressing3.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p3" >Product:</p>
    <p class="p4" >We want people to walk into Dressin(n)g and start enjoying the new shopping experience!</p>
    <p class="p4" >Through Dressin(n)g, we have completely changed the shopping process and consumption habits, thus made the fitting room a place of entertainment. Imagine that the scene to meet friends in the future at Dressin(n)g! There are so many clothes to try, and you won’t get tired of trying it all day long.</p>
    <img class="i1" src="../../assets/projects/Dressing/Dressing5.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p3" >Technology/Content:</p>
    <p class="p4" >In the realization of the idea, we need to calculate the stocks that may be required for different clothes through Ai intelligence to replenish and update, intelligently sort the different barcodes/codes of clothes, the product need to capture consumers' buying habits through big data, through what consumers have bought and searched for recommendations. </p>
    <p class="p4" >In this way, Dressin(n)g makes shopping smarter and more fun.</p>
    <img class="i1" src="../../assets/projects/Dressing/Dressing6.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p3" ><br/>Rules:</p>
    <p class="p4" >Any other extension?<br/>Using 360 camera to get your figure.<br/>Intelligent recommendation.<br/>Intelligent recommendation.<br/>Sharing your outfits with friends conveniently.<br/>Sharing your outfits with friends conveniently.<br/>Sharing your outfits with friends conveniently.<br/>Delivering the clothes to your home.<br/>.......</p>
    <p class="p4" style="margin-bottom: 20px;">Dressin(n)g makes shopping more pure and easier.</p>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>