<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elewaiter</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait" >
    <p class="p1">Elewaiter</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role: Creative group head</p>
    <p class="p4">ELEWAIITER is a product which combines elevator and vending machine to solve the problem of getting something immediately without stepping out the stairs.</p>
    <img class="i1" src="../../assets/projects/Elewaiter/Elewaiter1.jpg"/style="border:1px solid #CCCCCC">
    <br/>
    <p class="p3">Insight:</p>
    <p class="p4">My team thinks out it from experience: on a hot summer day, you want to buy a bottle of orange juice. Finding a convenience shop still needs more than 100 meters, which is too far; a vending machine is not easy to found, and ordering take-outs means more than half an hour waiting time.</p>
    <img class="i1"src="../../assets/projects/Elewaiter/Elewaiter2.jpg"/>
    <p class="p3">Solution:</p>
    <p class="p4">What if combining elevator, the vehicle delivering goods to every family, and vending machine which is the mini store providing varieties of goods.<br/>Thus, we created "ELEWAIITER".  Want to get something in a second? Just enter the "ELEWAIITER" and get it!</p>
    <img class="i1"src="../../assets/projects/Elewaiter/Elewaiter4.jpg"/style="border:1px solid #CCCCCC">
    <img class="i1"src="../../assets/projects/Elewaiter/Elewaiter5.jpg"/style="border:1px solid #CCCCCC">
    <p class="p4">We call it Elewaiter,  as the homophonic of "elevator". Just like your waiter, providing home delivery service.</p>
    <p class="p4">In this way, the purchasing process will be faster and easier, meanwhile, obey the principle of least effort. We believe ELEWAIITER will be able to change people's lifestyle in the future.</p>
    <img class="i1"src="../../assets/projects/Elewaiter/Elewaiter6.jpg"/>
    <img class="i1"src="../../assets/projects/Elewaiter/Elewaiter7.jpg" style="margin-bottom: 20px;"/>
     <br/>
    <a class="a1" href="projects.html">///back to projects</a>
</div>
<div style="height:60px;position: absolute;left:400px;top:3380px;">
</div>
</body>
</html>