<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i-travel</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait">
	<p class="p1">I-TRAVEL</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role: Creative group head, video editor, illustrator.</p>
    <iframe src="https://player.vimeo.com/video/302368237" width="600" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p class="p3" >Insight:</p>
    <p class="p4" >Many young people find the tour group boring and insipid, and the route of the Raiders is the same. They want to travel individually, and play in special local area.  </p>
    <p class="p3" >Product: </p>
    <p class="p4" >I-travel App, a theme Travel Route Sharing Platform, encouraging people to share their travel routes by offering simple-used and pretty models. Without editing plenty materials, people can upload a special guide route based on the models.<br/>In I-travel, routes publishers can be registered as tour guides by real name, and popular routes can also be developed by travel agencies based on the platform.<br/>Whether the publisher can form a group, or a cooperative travel agency, carry out offline activities.<br/>I-travel app as a platform, from which service fees will be drawn.</p>
    <p class="p3" >Demo:</p>
    <img class="i1" src="../../assets/projects/I-travel demo.jpg" style="border:1px solid #CCCCCC"/>
    <p class="p4" >The app will contain numerous travel routes with massive themes.<br/ >Such like, Movie theme tour. Follow Wang Jiawei’s films and wandering on the streets of Hong Kong.<br/ >Mahjong Teahouse Tour. Experience the authentic Sichuan Mahjong in the Chengdu Teahouse.<br/ >Local snack tour. Find the most rustic taste in the corner.<br/>Silent journey, feeling the power of walking on the silent road.</p>
    <p class="p3" >Slogan:</p>
    <p class="p4" >I-travel. Love traveling. Don’t miss a good trip.</p>
    <a class="a1" href="projects.html"> ///back to projects </a>
</div>
</body>
</html>