<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOS GRAND</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait" >
    <p class="p1">IOS GRAND</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role:Ideation developer, video editor, copy writer. <br/>Collaborator: Grace Ge</p>
    <p><iframe width="640" height="360" src="https://player.vimeo.com/video/265367929" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe></p>
    <p class="p3">Insight:</p>
    <p class="p4">Smart phones’ reaction are too fast and sensitive to keep up with for old people.And old people have hard time to start up using a smart phone.</p>
    <p class="p3">Products: IOS Grand for Apple.Inc</p>
    <p class="p4">IOS Grand can measure old people’s reaction speed and record their usage habits through artificial intelligence movement recognition and eye tracking.<br/>Slow the interface jump to 1.4 seconds, understand the olds’ trembling fingers better, and offer patient guide to help them install new applications</p>
    <p class="p3">Slogan:</p>
    <p class="p4">IOS Grand for the old, making the smartphone to be smart friend.</p>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>
