<!DOCTYPE html>
<html lang="en">
<head>
    <title>OCEAN KNIGHT</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div class="portrait" >
    <p class="p1">OCEAN KNIGHT</p>
    <p class="p2">Product Innovation</p>
    <p class="p2">Role:Ideation developer, video editor, copy writer. <br/>Collaborator: Grace Ge</p>
    <iframe width="640" height="380" src="https://player.vimeo.com/video/264831824" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
    <p class="p3">Insight:</p>
    <p class="p4">Every year, more than 8 million tons of plastic litter is poured into the ocean, causing direct economic losses of more than 8 billion U.S. dollars and millions of marine life die.<br/>However, at present, marine litter monitoring has already been a global issue, yet is mostly conducted by the government and related organizations. It is inefficient and difficult. <br/>How to motivate more people to participate in the instantaneous monitoring from the coast and offshore areas to greatly improve the efficiency of marine litter disposal?</p>
    <p class="p3">Products: Ocean Knight for DJI.</p>
    <p class="p4">DJI has been the world's largest consumer drone which holds over 70% share of the global market. Ocean Knight let users upload aerial photography or videos of marine litter from all over the world, monitoring marine litter and mark their locations. With the joint efforts of all, an open-source distribution map of marine plastic pollution will be established to help governments or organizations to real-time monitor them and take action as soon as possible. At the same time, those participators will be awarded the "Marine Knights" medal by DJI and can share this honor to more and more people via social networks.</p>
    <p class="p3">Solution:</p>
    <p class="p4">Ocean Knight for DJI can open up the global marine litter issue from  government and organizations to the whole public. It will arouse the attention of the general public to the issue of marine litter, reduce plastic litter emission. People who join in will become the pioneers on ocean conservation, taking action by changing their mind.<br/>Let social problem be solved by the whole society</p>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>