<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i-travel</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait">
	<p class="p1">PANPAN FOOD</p>
    <p class="p2">Integrated Marketing Communication Program</p>
    <p class="p2">Role:Creative planner, Strategy planner, Copywriter.</p>
    <p class="p3">Brand: Panpan food</p>
    <p class="p3">Product:</p>
    <p class="p4">Panpan chicken-flavored snack</p>
    <p class="p3">Brief:</p>
    <p class="p4">Propose an integrated marketing communication scheme to update brand image and develop the markets of first-tier cites.</p>
    <p class="p3">Slogan:</p>
    <p class="p4">We changed the slogan “the more food, the happier” to “the more crazy, the happier”</p>
    <p class="p3">Background: </p>
    <p class="p4">Panpan chicken-flavored snack is a type of extruded food with unique flavor and cost-effective price, also a product with nostalgia, as many young people (20~35) ate Panpan chicken-flavored snack when they were kids. <br/>However, this product also has drawbaks. We hope that the brand will leave the provincial local brand image to most consumers, and increase the brand preference. At the same time, the popularity of Panpan chicken-flavored snack is limited to Fujian area, and market channels did not include much stores and supermarkets. Therefore, the popularity of Panpan chicken-flavored snack is not high among the new generation of young consumers, and which market share in extruded food is small.</p>
    <br/>
    <p class="p3">Marketing Campaign</p>
    <p class="p3">Stage One</p>
    <p class="p4">The first campaign is to break the original brand image by renewing brand spokesperson and cross-border marketing, thus, initially establish the brand image of young fashion. We chose a new generation of a popular actress with fashion sense and love of food as the brand spokesperson, to create a new brand image among target consumers and enhance brand preference.</p> 
    <img class="i1" src="../../assets/projects/Panpan/pp1.jpg"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;"> New Spokeman:DiliReba</p>
    <p class="p4">We also put forward a new slogan “the more crazy, the happier”. We cooperated with a TV play of spokesperson to carry out cross-border marketing and adopted it. Interpolation advertisements are popular nowadays. To deepen the expectation of the brand's youthful and interesting image meanwhile avoid the rejection of the audience, we set the style of the series of advertisements as weird and funny. We plan to carry out three different advertisements according to the three special selling points of the products: quantity and durability, unique flavor and taste, leisure and entertainment. We created theme video advertising scripts and advertising copies.</p>
    <img class="i1" src="../../assets/projects/Panpan/pp2.jpg"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;"> New wrapper.</p>
    <br/>
    <p class="p3">Stage Two</p>
    <p class="p4">The second campaign is to further consolidate the brand image through nostalgic games and limited gifts,  to increase exposure among target consumers. Based on the property, nostalgia, of Panpan chicken-flavored snack and the various "small program" games that have sprung up in China, we have integrated brand elements into a childhood game and launched an online challenge contest. </p>
    <img class="i1" src="../../assets/projects/Panpan/pp3.jpg"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;">"Tetris" game using the icon of Panpan food.</p>
    <p class="p4">The winner can get a variety of snacks, joint-name clothes, designer bags, handmade earrings, notebooks and so on. If the audience responds warmly to the gift package, we will set up the second round of limited snap-up, through the limited strategy of hunger marketing, fully arouse consumers’ attention then stimulate consumers' desire to. Not only can it enhance brand favor, but also can leave a "young, playful” impression in the hearts of the audience. </p>
    <img class="i1" src="../../assets/projects/Panpan/pp4.jpg"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;">Derivative products.</p>
    <br/>
    <p class="p3">Stage Three</p>
    <p class="p4">The third campaign targets to deepen the brand image of young leisure through off-line creative marketing, and further cultivate brand loyalty and promote product sales. The product lacks a national brand strategy. However, the traditional means of setting up billboards in transportation hubs of first-tier cities such as Beijing/Shanghai/Shenzhen is not only costly but also not optimal. Thus, we propose an innovative, fun and reasonable budget offline marketing method. </p>
    <img class="i1" src="../../assets/projects/Panpan/pp5.jpg"/>
    <p style="font-size:14px;color:#AAAAAA;font-family:arial;font-style:oblique;text-align:center;">Panpan Slot-machine.</p>
    <p class="p4">In the cinemas of first-tier cities, a kind of interesting vending machine is set up, which combines the chicken flavor cubes with the slot machine. The traditional gold coins are changed into chicken flavor cubes. Consumers can get chicken flavor cubes through games and eat them in the movies. This idea fits the young consumers’ psychology of interaction and novelty hunting, and can effectively enhance brand awareness and attract new consumers at the same time. It is more likely to get the new distribution channel of the cinemas. In the final pitch, this campaign received the most praise. It not only skillfully conceived and grasped the psychology of the target consumers but also opened the brand's national popularity cost-effectively.</p>
    <img class="i1" src="../../assets/projects/Panpan/pp6.jpg"/>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>