<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A PENGUIN'S ADVENTURE</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait" >
    <p class="p1">A PENGUIN'S ADVENTURE</p>
    <p class="p2">TVC</p>
    <p class="p2">Role: Team leader, AfferEffect, animation editor.</p>
    <iframe width="640" height="380" src="https://player.vimeo.com/video/300152519" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
    <p class="p3">Background:</p>
    <p class="p4">QQ is the abbreviation of Tencent QQ. It is an Internet-based instant messaging (IM) software developed by Tencent.
    <p class="p3">Brief:</p>
    <p class="p4">QQ makes connections more interesting.
    <p class="p3">Insight:</p>
    <p class="p4">Through a story based on the QQ icon, a little penguin, this video shows how QQ connects people and changes the way people communicate.</p>
    <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>