<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>projects</title>
	</head>
	<body>
		<main class="projects">
			<h1 class="main-name"></h1>
			<div class="container">
				<ul class="navigator">
					<li><a>Home</a></li>
					<li><a>Projects</a></li>
					<li><a>Planning</a></li>
					<li><a>Animation</a></li>
					<li><a>Video</a></li>
					<li><a>About</a></li>
					<li><a>CV</a></li>
				</ul>
				<section class="projects-list" id="projectsList"></section>
			</div>
		</main>
	</body>
	<script type="text/javascript" src="../dist/js/projects.min.js"></script>
</html>