<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i-travel</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait">
	<p class="p1">BABY TADPOLE LOOKS FOR ITS MOM</p>
    <p class="p2">Public Service Animation</p>
    <p class="p2">Role: Screenwriter, AfterEffect, video editor, audio performer. </p>
    <iframe width="600" height="360" src="https://player.vimeo.com/video/302370581" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
    <p class="p3">Introduction:</p>
    <p class="p4">This animation is a piece of public service advertisement. Baby tadpole looks for its mom is a well-known story in China. My team mate and I changed the original ending to show the bad influence of water pollution.</p>
    <a class="a1" href="projects.html"> ///back to projects </a>
</div>
</body>
</html>

