<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i-travel</title>
    <link href="../../src/css/ProjectsInfo.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="portrait">
	<p class="p1">WAVES</p>
    <p class="p2">TVC</p>
    <p class="p2">Role:  Cameraman, Video editor, copy writer.</p>
    <iframe src="https://player.vimeo.com/video/298706387" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p class="p3"><br/>Background:</p>
    <p class="p4">This music video was shoot for the NetEase Cloud Music app, and we got the brief to make a song popular. My team chose Waves from more than 100 songs they offered, as this song's lyrics are simple and imaginative. </p>
    <p class="p3">Lyrics:</p>
    <p class="p4">The waves hit my feet.<br/>The waves hit my heart.<br/>Whose waves are they?<br/>(repeat)</p>
    <p class="p3">Insight:</p>
    <p class="p4">Life is like the ocean, and the ups and downs of it are the waves that rise and fall in the sea.<br/>Life is made up of sour and bitter, just like the ocean is made up of waves. Life is like the sea, with ups and downs. Sometimes we are pushed by the waves, and flustered; sometimes we are swallowed by the waves, lost direction; while sometimes we can ride the waves and walk on it. The ocean may never be peace just like every day's life. However,  everything will be calm, and everything will continue. Through scenes with different emotions and lifestyles, combined with songs, the audience will resonate, then see their shadows and stories.</p>
    <p class="p3">Slogan:</p>
    <p class="p4">We are interfering with water every day.<br/>Water is rolled in the to the waves of life.<br/>People life, ocean wild, we are all in the waves.</p>
        <a class="a1" href="projects.html">///back to projects </a>
</div>
</body>
</html>